@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.barra-de-navegacao{
    padding: 24px 4%;
    
}
.lista{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap:50px;
}
.lista-it a{
    text-decoration: none;
    color: #22D4FD;
    font-family: "Montserrat";
    position: relative;
}
#ativado a{
    color: #ffffff;
}

#ativado a:hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    background-color: #ffffff;
    animation: navegacao;
    animation-duration: 3s;
}

.lista-it a:hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    background-color: #22D4FD;
    animation: navegacao;
    animation-duration: 3s;
}



.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.acesse-redes-sub-titulo{
    font-family: "Krona One";
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.apresentacao__links__link{
    display: flex;
    background-color: transparent;
    width: 378px;
    border-radius: 8px;
    border: 2px #22D4FD solid;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:16px;
    transition:0.6s
    
}
.projetos__links{
    margin-top: 20px;

}


.projetos__link__visualizar{
    background-color: transparent;
    border-radius: 5px;
    border: 2px #22D4FD solid;
    font-weight: 600;
    padding: 5px;
    text-decoration: none;
    color: white;
    transition:0.6s


}

.apresentacao__links__link :hover{
    box-shadow: 1px 1px 6px 3px #22D4FD;
 
    
}
.projetos__link__visualizar:hover{
    box-shadow: 1px 1px 6px 3px #22D4FD; 
}
.imagem-perfil{
    transition: 0.6s;
    border-radius: 6px;

}

.local{
    margin: 20px;
    font-size: 15px;
    font-family: 'Krona One', sans-serif;
    font-weight: bold;

}
.dados-local{
    margin: 5px 0px;
    list-style: none;
    font-size: 13px;
    font-weight: lighter;
    opacity: 70%;

}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #22D4FD;
    font-family: "Montserrat";
    color: #000000;
}

@keyframes navegacao {
    from{

        transform: scaleX(1);

    }
    50% {
        
        transform: scaleX(5%);

    }
    to{

        transform: scaleX(1);

    }

    
    
}